/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Abel", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #2B2B2B;
    --secondary-color: #CCB2B2;
    --highlight-color: #efecec;
}
/* Global styles */
body {
    background-color: #efecec;
    font-family: var(--primary-font);
    color: var(--primary-color);
}
.raleway {
    font-family: var(--secondary-font);
}
/* Header color */
.announcment-1 {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.announcment-2 {
    background-color: var(--primary-color);
    color: #efecec;
}

/* Navigation */ 

#navbar {
    background-color: var(--highlight-color);
    justify-content: center;
}
h2 {
    margin: 20px 0;
    font-size: 40px;
}
.nav-item {
    font-size: 20px;
}
/* Header */
#header .card-body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
#header .card {
    margin-bottom: 1.5rem;
}
/* Our Service section */
#our-service .card {
    background-color: var(--secondary-color);
    justify-content: center;
    color: var(--primary-color);
    padding-top: 1px;
}
#our-service .card {
    justify-content: center;
    border: none;
}
#our-service .card-body {
    padding: 0;
}
/* events page */
#header-events {
  text-align: center;
  max-width: 70%;
}
#header-events p {
    font-family: var(--secondary-font);
}
/* Our events section */
#our-events .card {
    margin-bottom: 2rem;
}
#our-events .card-body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* Our process */
#our-process .card {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
#our-process .card-body {
    padding: 20px;
}
#our-process .row {
    margin: 0 10px;

}
/* contact page */
#contact-us .row {
    margin: 10px 2px 10px 2px;
}
#contact-us .btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
/* Footer Section */
#contact {
    background-color: var(--primary-color);
    color: #efecec;
}
#contact i {
    color: var(--highlight-color);
    font-size: 2rem;
    margin-right: 20px;
}
/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* Make our service cards look responsive */
    #our-service .card {
        margin-bottom: 4rem;
    }
    /* Make our process cards look responsive */
    #our-process .card {
        min-width: 311px;
    }
}
/* xl devices (laptops, 1200px and up ) */
@media screen and (min-width: 1200px) {
    /* Make our process cards look responsive */
    #our-process .card {
        max-width: 266px;
    }
}
    

/* Small screens and up */
@media screen and (max-width: 576px) {
    #contact .text {
        text-align: center;
    } 
}