/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Abel", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-color: #4a4a4b;
    --secondary-color: #c8adad;
    --highlight-color: #efecec;
}
/* Global styles */
body {
    background-color: #efecec;
    font-family: var(--primary-font);
}
/* Header color */
.announcment-1 {
    background-color: var(--secondary-color);
    color: #efecec;
}
.announcment-2 {
    background-color: var(--primary-color);
    color: #efecec;
}

/* Navigation */ 

#navbar {
    background-color: var(--secondary-color);
}
